<div class="container">

  <h1>Voyages</h1>

  <!-- Sample interface -->

  <form class="form-inline">
    <div class="form-group">
      <label>Departure Port</label>
      <input
        type="text"
        class="form-control"
        ng-click="ctrl.isEtdOpen = !ctrl.isEtdOpen"
        uib-datepicker-popup="{{format}}"
        ng-model="ctrl.etd"
        datepicker-options="ctrl.dateOptions"
        is-open="ctrl.isEtdOpen" />
    </div>

    <div class="form-group">
      <label>Arrival port</label>
      <input
        type="text"
        class="form-control"
        ng-click="ctrl.isEtaOpen = !ctrl.isEtaOpen"
        uib-datepicker-popup="{{format}}"
        ng-model="ctrl.eta"
        datepicker-options="ctrl.dateOptions"
        is-open="ctrl.isEtaOpen" />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      ng-click="ctrl.getRoutes(ctrl.etd, ctrl.eta)">
      Find
    </button>
    <label for="includeTrans">Include Transhipments?</label>
    <input name="includeTrans" type="checkbox" ng-model="ctrl.includeTrans" ng-change="ctrl.includeTrans = (ctrl.includeTrans)? true: false"/>
  </form>

  <!-- Display the list of Voyage data - this is just as an example of displaying the initial data -->
  <table class="table table-striped"
         ng-show="ctrl.voyages.length">
    <thead>
    <tr>
      <th>Routes</th>
      <th>Port A</th>
      <th>Departs</th>
      <th>Port B</th>
      <th>Arrives</th>
      <th>Vessels</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="voyage in ctrl.voyages">
      <td>{{ ctrl.getRouteIds(voyage.from, voyage.to) }}</td>
      <td>{{ voyage.from.port }}</td>
      <td>{{ (voyage.from.etd | date) || 'N/A' }}</td>
      <td>{{ voyage.to.port }}</td>
      <td>{{ (voyage.to.eta | date) || 'N/A' }}</td>
      <td>{{ ctrl.getVessels(voyage.from, voyage.to) }}</td>
    </tr>
    </tbody>
  </table>

</div>
